* {
    font-family: sans-serif;
}

header {
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
}

.box,
.box2,
.box3 {
    border: 2px solid darkgrey;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    gap: calc((100-20px) /3)
}

.box2 {
    background-color: blueviolet;
    color: white;
}

h2 {
    text-align: center;
}

.bottoni {
    border-radius: 10px;
    text-align: center;
    width: 40%;
}